:root{
    --primary: #0170ff;
    --light: rgba(1, 111, 255, 0.4);
    --bg: #f0f7ff;
    --black:  #3d3d3d;
    --shadoww: 0px 2px 10px 0px rgba(1, 111, 255, 0.3);
    --focus: 0px 0px 10px 1px rgba(1, 111, 255, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--bg); */
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.container{
    width: min(90%, 1600px);
    margin-inline: auto;
}


/* ---------- Popup Design Start ---------- */
.popup-screen{
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup-screen.active{
    visibility: visible;
}

.popup-box{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
    box-shadow: var(--shadoww);
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
}

.popup-screen.active .popup-box{
    transform: scale(1);
}

.popup-box .uil-times{
    position: absolute;
    font-size: 2rem;
    top: 25px;
    right: 25px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    transition-property: opacity;
}

.popup-box .uil-times:hover{
    opacity: 1;
}

.popup{
    display: grid;
    /* width: 600px; */
    padding: 35px;
    /* height: 46vh; */
    height: auto;
}

.popup .popup-view{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-view h2{
    color: var(--black);
    padding-bottom: 13px;
    font-size: 1.8rem;
    font-weight: 600;
}

.popup-view .in-box{
    padding: 13px 20px;
    width: 500px;
    margin: 8px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.popup-view .in-box:focus{
    box-shadow: var(--focus);
}

::placeholder{
    color: rgba(63, 63, 63, 0.5);
}

.popup-view .add-button{
    margin-top: 35px;
    padding: 15px 30px;
    cursor: pointer;
    background: linear-gradient(45deg, #1b7cfc, rgba(1, 111, 255, 0.5));
    color: var(--bg);
    border-radius: 5px;
    transition: transform 0.6s;
}

.popup-view .button{
    font-size: 1.3rem;
    font-weight: 500;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.add-button i{
    font-size: 1.3rem;
    padding-left: 10px;
}

.popup-view .add-button:hover{
    background: linear-gradient(200deg, #0170ff, rgba(1, 111, 255, 0.5));
    transform: translateY(-6px);   
}
/* ---------- Popup Design End ---------- */


/* ---------- Menu Design Start ---------- */
.menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    /* background: var(--black); */
    margin-bottom: 15px;
    width: 100%;
    /* position: fixed; */
}

nav .logo a{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    
}

nav .menu-right{
    display: flex;
    align-items: center;
}

nav .menu-right .sort{
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary);
    display: block;
}

nav .menu-right .setting{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0 25px;
    color: var(--primary);
    cursor: pointer;
    transition: transform 0.6s;
    display: block;
}

nav .menu-right .setting:hover{
    transform: rotate(90deg);
}

nav .menu-right .profile{
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 25px;
    color: var(--primary);
    cursor: pointer;
    transition: transform 0.6s;
    display: block;
}

#searchbox{
    padding-right: 25px;
    display: flex;
    align-items: center;
}

#act{
    display: flex;
    align-items: center;
}

.search .uil-search{
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--primary);
    position: absolute;
}

.active .uil-search{
    margin: 0 10px;
}

.search .uil-times{
    cursor: pointer;
    font-size: 0rem;
    color: var(--primary);
    position: relative;
    transition: .2s;
    transition-delay: .2s;
}
.search .uil-times:hover{
    color: red;
}

.search input{
    font-size: 1rem;
    width: 0px;
    border: none;
    background: transparent;
    outline: none;
    padding: 7px 0 7px 35px;
    border-radius: 30px;
    transition: .7s;
}

.search input:focus{
    box-shadow: var(--focus);
}

.search input::placeholder{
    color: rgba(61, 61, 61, 0.6);
}

.active input{
    width: 300px;
    border: 2px solid var(--primary);
}

.active .uil-times{
    font-size: 1.7rem;
}

nav .menu-right .plus{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: var(--bg);
    height: 45px;
    width: 45px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: transform 0.6s;
}

nav .menu-right .plus:hover{
    transform: rotate(90deg);
}
/* ---------- Menu Design End ---------- */



.add-word .heading{
    display: flex;
    width: 100%;
    padding-bottom: 4px ;
    /* align-items: center; */
}

.heading h3{
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 500;
}

.heading .word{
    width: 23%;
}

.heading .meaning{
    width: 40%;
}

.heading .tag{
    width: 20%;
}

.heading .time{
    width: 17%;
    text-align: end;
}

.add-word .all-words{
    border: 2px solid var(--primary);
    padding: 8px;
    margin: 7px 0;
    align-items: center;
    align-content: center;   
}

.all-words .head-letter{
    border-bottom: 1.5px solid var(--primary);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
}

.all-words .words{
    display: flex;
    width: 100%;
    align-items: center;
    /* align-content: center; */
}

.all-words .words .word{
    width: 23%;
    display: flex;
    align-items: center;
}

.all-words .words .word i{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 6px;
    color: var(--primary);
    cursor: pointer;
}

.all-words .words .meaning{
    width: 40%;
}

.all-words .words .tag{
    width: 20%;
}

.all-words .words .time{
    width: 17%;
    text-align: end;
}

.all-words .words p{
    font-size: 1.1rem;
    color: var(--black);
    font-weight: 500;
    padding: 5px 0;
}


@media only screen and (max-width: 600px) {
    .container{
        width: 97%;
        margin-inline: auto;
    }

    nav .logo a{
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav .menu-right .sort{
        font-size: 1.4rem;
    }

    nav .menu-right .setting{
        font-size: 1.4rem;
        padding: 0 15px;
    }

    nav .menu-right .profile{
        font-size: 1.4rem;
        padding-right: 15px;
    }

    nav .menu-right .search{
        font-size: 1.4rem;
        padding-right: 15px;
    }

    nav .menu-right .search .search-bar .search{
        border-radius: 0 5px 5px 0;
        height: 35px;
    }

    nav .menu-right .search .search-bar .cross{
        margin: -3px 0 0 120px;
        font-size: 1.7rem;
    }

    nav .menu-right .search input{
        padding: 0 10px;
        width: 200px;
        height: 35px;
        font-size: .9rem;
        border-radius: 5px 0 0 5px;
    }

    nav .menu-right .plus{
        font-size: 1.5rem;
        height: 36px;
        width: 36px;
        border-radius: 50%;
    }

    .heading h3{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .all-words .head-letter{
        font-size: 1.1rem;
        font-weight: 600;
    }

    .all-words .words p{
        font-size: .9rem;
        font-weight: 500;
    }
    
    #popup{
        position: fixed;
        left: calc(50% - 200px);
    }

    .popup{
        padding-top: 10px;
    }
    
    .popup-main{
        height: 380px;
        width: 400px;
        border-radius: 8px;
    }

    .popup-view h2{
        font-size: 1.3rem;
    }
    
    .popup-view .in-box{
        padding: 8px 15px;
        width: 360px;
        margin: 8px;
        font-size: 1rem;
    }
    
    .popup-view .add-button{
        margin-top: 35px;
        padding: 8px 25px;
    }
    
    .popup-view .button{
        font-size: 1.1rem;
    }
}