:root{
    --primary: #0170ff;
    --light: rgba(1, 111, 255, 0.4);
    --bg: #f0f7ff;
    --black:  #3d3d3d;
    --shadoww: 0px 2px 10px 0px rgba(1, 111, 255, 0.3);
    --focus: 0px 0px 10px 1px rgba(1, 111, 255, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--bg); */
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

button:active{
    background: transparent;
}

.container{
    width: min(90%, 1600px);
    margin-inline: auto;
}

.mobile-menu{
    display: none;
}

/* ---------- Popup Design Start ---------- */
.popup-screen{
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup-screen.active{
    visibility: visible;
}

.popup-box{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
    box-shadow: var(--shadoww);
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
}

.popup-screen.active .popup-box{
    transform: scale(1);
}

.popup-box .uil-times{
    position: absolute;
    font-size: 2rem;
    top: 25px;
    right: 25px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    transition-property: opacity;
}

.popup-box .uil-times:hover{
    opacity: 1;
}

.popup{
    display: grid;
    padding: 35px;
    height: auto;
}

.popup .popup-view{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-view h2{
    color: var(--black);
    padding-bottom: 13px;
    font-size: 1.8rem;
    font-weight: 600;
}

.popup-view .in-box{
    padding: 13px 20px;
    width: 500px;
    margin: 8px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.popup-view .in-box:focus{
    box-shadow: var(--focus);
}

::placeholder{
    color: rgba(63, 63, 63, 0.5);
}

.popup-view .add-button{
    margin-top: 35px;
    padding: 13px 0;
    cursor: pointer;
    background: linear-gradient(45deg, #1b7cfc, rgba(1, 111, 255, 0.5));
    color: var(--bg);
    border-radius: 5px;
    transition: transform 0.6s;
}

.popup-view .button{
    font-size: 1.3rem;
    font-weight: 500;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.add-button i{
    font-size: 1.3rem;
    padding-left: 10px;
}

.popup-view .add-button:hover{
    background: linear-gradient(200deg, #0170ff, rgba(1, 111, 255, 0.5));
    transform: translateY(-6px);   
}
/* ---------- Popup Design End ---------- */


/* ---------- Menu Design Start ---------- */
.menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    /* background: var(--black); */
    margin-bottom: 15px;
    width: 100%;
    /* position: fixed; */
}

nav .logo a{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    
}

nav .menu-right{
    display: flex;
    align-items: center;
}

nav .menu-right .game{
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary);
    display: block;
    margin-right: 25px;
}

nav .menu-right .sort{
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary);
    display: block;
}

nav .menu-right .setting{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 25px;
    color: var(--primary);
    cursor: pointer;
    transition: transform 0.6s;
    display: block;
}

nav .menu-right .setting:hover{
    transform: rotate(90deg);
}

nav .menu-right .profile a{
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 25px;
    color: var(--primary);
    cursor: pointer;
    transition: transform 0.6s;
    display: block;
}

#searchbox{
    margin-right: 25px;
    display: flex;
    align-items: center;
}

#act{
    display: flex;
    align-items: center;
}

.search .uil-search{
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--primary);
    position: absolute;
}

.active .uil-search{
    margin: 0 10px;
}

.search .uil-times{
    cursor: pointer;
    font-size: 0rem;
    color: var(--primary);
    position: relative;
    transition: .2s;
    transition-delay: .2s;
}
.search .uil-times:hover{
    color: red;
}

.search input{
    font-size: 1rem;
    width: 0px;
    border: none;
    background: transparent;
    outline: none;
    padding: 7px 0 7px 35px;
    border-radius: 30px;
    transition: .7s;
}

.search input:focus{
    box-shadow: var(--focus);
}

.search input::placeholder{
    color: rgba(61, 61, 61, 0.6);
}

.active input{
    width: 300px;
    border: 2px solid var(--primary);
}

.active .uil-times{
    font-size: 1.7rem;
}

nav .menu-right .plus{
    margin-left: -10px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: var(--bg);
    height: 45px;
    width: 45px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: transform 0.6s;
}

nav .menu-right .plus:hover{
    transform: rotate(90deg);
}
/* ---------- Menu Design End ---------- */



.add-word .heading{
    display: flex;
    width: 100%;
    padding-bottom: 4px ;
    /* align-items: center; */
}

.heading h3{
    font-size: 1.3rem;
    color: var(--primary);
    font-weight: 500;
}

.heading .word{
    width: 23%;
}

.heading .meaning{
    width: 40%;
}

.heading .tag{
    width: 20%;
}

.heading .time{
    width: 17%;
    text-align: end;
}

.add-word .all-words{
    border: 2px solid var(--primary);
    padding: 8px;
    margin: 7px 0;
    align-items: center;
    align-content: center;   
}

.all-words .head-letter{
    border-bottom: 1.5px solid var(--primary);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
}

.all-words .words{
    display: flex;
    width: 100%;
    align-items: center;
    /* align-content: center; */
}

.all-words .words .word{
    width: 23%;
    display: flex;
    align-items: center;
}

.all-words .words .word i{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 6px;
    color: var(--primary);
    cursor: pointer;
}

.all-words .words .meaning{
    width: 40%;
}

.all-words .words .tag{
    width: 20%;
}

.all-words .words .time{
    width: 17%;
    text-align: end;
}

.all-words .words p{
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
    padding: 5px 0;
}






/* Profile design Start */
.head{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--black);
}

.head i{
    font-size: 2rem;
    padding-left: 10px;
    cursor: pointer;
}

.head h2{
    width: 100%;
    text-align: center;
}

.main-content{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "a a a b b b b b d d d d"
    "a a a b b b b b d d d d"
    "a a a c c c c c d d d d"
    "a a a c c c c c d d d d";
}

.main-content .wrapper{ 
    /* min-height: 100px; */
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(1, 111, 255, 0.2);
    background-color: var(--bg);
    padding: 20px;
}

.main-content .info{
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
}
.main-content .daily-count{
    grid-area: b;
}
.main-content .monthly-info{
    grid-area: c;
}
.main-content .fav-words{
    grid-area: d;
    display: flex;
    flex-direction: column;
    /* height: auto ; */
}

.main-content .info img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main-content .info h3{
    font-size: 1.6rem;
    font-weight: 500;
}

.main-content .info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    opacity: 70%;
}

.main-content .info .dob{
    display: flex;
    align-items: center;
}

.main-content .info span{
    padding-left: 5px;
}
.main-content .info button{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 30px;
    padding: 5px 15px;
    background: var(--primary);
    color: var(--bg);
    border: 2px solid var(--primary);
    border-radius: 2px;
    cursor: pointer;
    transition: .5s;
}

.main-content .info button:hover{
    color: var(--primary);
    background-color: var(--bg);
    border: 2px solid var(--primary);
    transition: .5s;
}






.fav-words .title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 15px;
}

.fav-words .words table{
    width: 100%;
}

.fav-words .words table td{
    /* outline: 1px solid var(--black); */
    margin: 2px 0;
}

.fav-words .words table .word{
    color: var(--primary);
    font-weight: 500;
    font-size: 1rem;
}
.fav-words .words table .star{
    color: var(--primary);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}




/* Profile design End */


@media only screen and (max-width: 700px){
    .container{
        width: 95%;
    }
    
    .popup-box{
        margin: 15px;
    }

    .popup{
        padding: 30px;
    }

    .popup-view h2{
        font-size: 1.5rem;
    }
    
    .popup-view .in-box{
        padding: 10px 15px;
        width: 400px;
        margin: 6px;
        font-size: 1rem;
    }

    .popup-view .add-button{
        margin-top: 30px;
        padding: 10px 0;
    }
    
    .popup-view .button{
        font-size: 1.1rem;
    }

    nav .logo a{
        font-size: 1.7rem;
        font-weight: 600;
    }

    nav .menu-right .game{
        font-size: 1.5rem;
        margin-right: 20px;
    }
    
    nav .menu-right .sort{
        font-size: 1.5rem;
    }
    
    nav .menu-right .setting{
        font-size: 1.5rem;
        margin: 0 20px;
    }
    
    nav .menu-right .profile{
        font-size: 1.5rem;
        margin-right: 20px;
    }
    
    #searchbox{
        margin-right: 20px;
    }
    
    .search .uil-search{
        font-size: 1.5rem;
    }
    
    .search input{
        font-size: .9rem;
    }
    
    .active input{
        width: 215px;
    }
    
    .active .uil-times{
        font-size: 1.5rem;
    }

    nav .menu-right .plus{
        font-size: 1.6rem;
        height: 37px;
        width: 37px;
    }

    .heading h3{
        font-size: 1.1rem;
        font-weight: 500;
    }

    .all-words .head-letter{
        font-size: 1.1rem;
        font-weight: 600;
    }

    .all-words .words p{
        font-size: .9rem;
        font-weight: 500;
    }
}


@media only screen and (max-width: 500px) {
    .popup-view .in-box{
        width: 320px;
    }

    .popup-view .add-button{
        margin-top: 15px;
    }
    
    .popup-view .button{
        font-size: 1.1rem;
    }

    nav .logo a{
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav .menu-right .game{
        display: none;
    }
    
    nav .menu-right .sort{
        display: none;
    }
    
    nav .menu-right .setting{
        display: none;
    }
    
    nav .menu-right .profile{
        display: none;
    }

    /* #searchbox{
        margin-right: -15px;
    } */
    
    .search .uil-search{
        font-size: 1.3rem;
    }

    .active input{
        width: 200px;
    }
    
    .active .uil-times{
        font-size: 1.3rem;
    }

    nav .menu-right .plus{
        display: none;
    }

    .heading h3{
        font-size: 1rem;
    }

    .all-words .head-letter{
        font-size: 1.1rem;
    }

    .all-words .words p{
        font-size: .8rem;
    }

    .mobile-menu{
        display: block;
        /* bottom: 0; */
        width: 100%;
        
    }

    .mobile-menu .menu{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        background: var(--bg);
        box-shadow: var(--shadoww);
        padding: 10px 8%;
        bottom: 0;
        font-size: 1.7rem;
        color: var(--primary);
    }

    .mobile-menu .menu .plus{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 57px;
        width: 57px;
        background-color: var(--bg);
        margin-bottom: 50px;
        border-radius: 50%;
        box-shadow: 0 0 0 4px white;
    }

    .mobile-menu .menu .plus-main{
        height: 45px;
        width: 45px;
        font-size: 2rem;
        background: var(--primary);
        color: var(--bg);
        border-radius: 50%;
        text-align: center;
        align-items: center;
    }
    
    .mobile-menu .game,
    .mobile-menu .sort,
    .mobile-menu .plus,
    .mobile-menu .setting,
    .mobile-menu .profile{
        cursor: pointer;
    }


}